html,
body {
  height: 100%;
  background-color: #7f00ff;
  background: -webkit-linear-gradient(to bottom, #7f00ff, #e100ff); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #7f00ff, #e100ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

body {
  color: #fff;
  text-align: center;
  font-family: 'Lora', serif;
}

.container {
  margin: auto;
  padding-top: 10%;
}

.btn-shorten {
  color: #ffffff;
  background-color: #F89406;
  border: none;
}